*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.intro{
	background: #d61060;
}
h1{
	color: #ffffff;
	font-weight: bold;
	transition: 0.2s;
	font-size: 5rem;
}
h3{
	color:#10d686;
	font-weight: bolder;
	font-size: 2rem;
}
h4{
	color:#53d7ee;
		font-weight: bolder;
	font-size: 2rem;
}
button{
	border:none;
	border-radius: 8px;
	padding: 10px;
	background:#587c9c; 
	color:white;
	letter-spacing: 1.5px;
	font-size: 20px;
	transition: 0.5s;
}
button:hover,h1:hover{
	transform: scale(1.1);
}
button:hover{
	background-color:#4C4B4B;
}
footer{
	color:#f7f0f0;
	background-color:#4C4B4B;
	letter-spacing: 0.5px;
}
footer p{
	margin: 0;
	font-size: 15px;
}
@media only screen and (orientation:portrait){
	.intro{
		padding-top: 15px;
		padding-bottom: 15px;
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 30px;
	}
	.act{
		padding-bottom: 100px;
	}
}
